.about-container {
  /* width: 100%; */
  /* text-align: center; */
  margin: auto;
  /* height: 100vh; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container h1{
    font-size: 3.5rem;
    color: var(--primary-color);
}

.about-details {
  display: flex;
  justify-content: space-between;
  background-color: rgba(236, 236, 236, 0.5);
  padding: 15px;
  border-radius: 20px;

}

.about-details p {
  /* width: 50%; */
  padding-right: 50px;
}

.logo-image {
  width: 200px;
  border-radius: 20px;
}
